@keyframes lt-star{
  0%{
    opacity: 1;
    transform: rotate(0);
  }
  10%{
    opacity: 0;
    transform: rotate(360/10 * 1deg);
  }
  20%{
    opacity: 1;
    transform: rotate(360/10 * 2deg);
  }
  30%{
    opacity: 0;
    transform: rotate(360/10 * 3deg);
  }
  40%{
    opacity: 1;
    transform: rotate(360/10 * 4deg);
  }
  50%{
    opacity: 0;
    transform: rotate(360/10 * 5deg);
  }
  60%{
    opacity: 1;
    transform: rotate(360/10 * 6deg);
  }
  70%{
    opacity: 0;
    transform: rotate(360/10 * 7deg);
  }
  80%{
    opacity: 1;
    transform: rotate(360/10 * 8deg);
  }
  90%{
    opacity: 0;
    transform: rotate(360/10 * 9deg);
  }
  100%{
    opacity: 1;
    transform: rotate(360/10 * 10deg);
  }
}
.lt-star {
  animation:lt-star 10s linear infinite
}

@keyframes lt-star2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lt-star2 {
  max-width: 100%;
  animation:lt-star2 2s linear infinite
}

@keyframes lt-jiantou1 {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(-20px,20px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
.lt-jiantou1 {
  max-width: 100%;
  animation:lt-jiantou1 2s linear infinite
}


@keyframes lt-che1 {
  //0% {
  //  opacity: 1;
  //  transform: translate3d(0,0,0);
  //}
  0% {
    opacity: 0;
    transform: translate3d(50px,0,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.lt-che1 {
  max-width: 100%;
  animation:lt-che1 2s linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes lt-yueliang {
  //0% {
  //  opacity: 1;
  //}
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lt-yueliang {
  max-width: 100%;
  animation:lt-yueliang 2s linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
